.table-header {
  display: none; /* Caché sur mobile  */
  background: var(--surface-color);
  color: white;
  padding: 15px;
  border: 1px solid var(--secondary-color);
  margin-bottom: 10px;
}

.table-row {
  background: rgba(154, 143, 155, 0.192);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-left: 4px solid var(--secondary-color);
}

.col {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.rank {
  font-size: 1.5rem;
  font-weight: bold;
}
.rank-gold {
  color: #ffd700;
  text-shadow: 0 0 10px gold;
}
.rank-silver {
  color: #c0c0c0;
}
.rank-bronze {
  color: #cd7f32;
}

.mobile-label {
  font-size: 0.8rem;
  color: var(--text-muted);
  margin-left: 5px;
}

.member img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
}
/* --- RESPONSIVE : PC --- */
@media (min-width: 768px) {
  .mobile-label {
    display: none;
  }
  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .table-row {
    flex-direction: row;
    padding: 10px;
  }

  .col {
    width: 33%;
    justify-content: center;
    margin: 0;
  }
  .col.user-info {
    justify-content: flex-start;
    gap: 20px;
    padding-left: 40px;
  }

  .username {
    text-align: left;
  }
}
