@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: "Orbitron", sans-serif;


}

.overlay-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.7);
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-popup {
    min-width: 500px;
    max-width: 800px;
    padding: 40px;
    background-color: rgb(153, 50, 204);
    border-radius: 20px;

}

.content-popup button {
    border: 0px;
    background-color: darkorchid;
    color: darkorange;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;

}

.auth-switch {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #c5bebe;
    text-align: center;
}

.auth-link {
    color: #16bebe;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.auth-link:hover {
    text-decoration: underline;
}

 .footer-name {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #c5bebe;
    margin: 10px;
}

.footer {
    background-color: #3b0855;
    padding: 10px 0;
    margin-top: 30px;
    color: #c5bebe;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.footer a {
    color: #c5bebe;
    text-decoration: none;
}